.trabalhe{
    display: flex;
}
.formulario, .artigo{
    
    flex:1;
}
.formulario{
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-left: 55px;
    padding-right: 75px;
    padding-top: 55px;
    color: #9b9b9b;
}
.titulo{
    font-size: 40px;
    font-weight: 600;
    color: #575757;
    margin-bottom: 30px;
}
.formulario__label{
    font-size: 18px;
    margin-bottom: 5px;
    margin-right: 20px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}
.formulario__input, .formulario__select{
    margin-bottom:15px;
    padding: 5px 10px;
    border: 1px solid #9b9b9b;
}
.formulario__options{
    display: flex;
    margin: 10px 0;
}
.formulario__textarea{
    resize: none;
    border: 1px solid #9b9b9b;
    margin-bottom: 22px;
}
.formulario__file{
    margin-bottom: 20px;
}
.formulario__button{
    background-color:#C2185B;
    color: #fff;
    font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 23px;
border: none;
}
.artigo{
    display: flex;
    flex-direction: column;
    padding-right: 80px;
    padding-top: 130px;


}
.artigo__paragrafo{
margin-bottom: 20px;
 text-align: justify;
font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 22px;
}
.propaganda {
    position: sticky;
    top: 0px;
    background-color: #C2185B;
    max-width: 1280px;
    padding: 15px;
    
}
.propaganda__descricao{
    color: #fff;
    text-align: center;
}